body {
  font-family: 'PT Sans', Verdana, sans-serif;
  background-color: #ddcaf3;
  background-color:#202020;
  color: #202020;
  margin: 20px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 40px);
  overflow-x: hidden;
  letter-spacing: 0.5px; /* Ajusta la distancia entre letras */
}

/* Form styles */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  
  padding: 20px;
  box-sizing: border-box;
  background-color: #e2e1e2;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
}

/* Logo container styles */
.logo-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  
  width: 120%;
}

/* Logo styles */
.App-logo {
  max-width: 300px;
  width: 100%;
  height: auto;
  
}

/* Main styles */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}


button[type="submit"]:hover {
  background-color: #e76d0e;
}

.select {
  width: 100%;
  max-width: 400px;
  margin: 10px 0;
}

/* Estilos para el segundo selector (ajustes específicos) */
.selector .react-select__control {
  width: 100%;
  max-width: 400px;
  margin: 10px 0;
}

/* Estilos para el menú desplegable del selector */
.selector .react-select__menu {
  width: 100%;
  max-width: 400px;
}

button[type="submit"] {
  background-color: #f88213;
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 16px;
  max-width: 180px;
  width: 100%;
  margin: 20px; /* Añade espacio superior */
  letter-spacing: 1px; /* Ajusta la distancia entre letras */
}


/* Card styles */
.card, .card2, .card3, .card4, .card5 {
  
  
  border-radius: 12px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
  box-sizing: border-box;
  background-color: #3f3a44;
  
}

.div.card.text-center.bg-dark.animate_animated.animate_fadelnUp{
  
  background-color: #3f3a44;
  margin: 0px;
  
}

/* Evitar cambio de tamaño al hover */
.card:hover, .card2:hover, .card3:hover, .card4:hover, .card5:hover {
  transform: none; /* Asegura que no haya transformación */
}

/* Container styles */
.container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: flex-start;
  min-width: 300px;
  max-width: 400px;
  
}

/* Typography */
h2, h3, h4, h5, h6 {
  color: #f88213;
  font-weight: bold;
  margin-bottom: 2px;
}




p {
  text-align: justify;
  color: #1f1e1e;
  line-height: 1.6;
}

/* Carousel styles */
.carousel .slide img {
  width: 100%;
  height: auto;
  max-height: 350px;
  object-fit: cover;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  
}

.privacy-item {
  background-color: #3f3a44;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: left;
  margin: 5px;
}

.privacy-item h5 {
  color: #f88213;
  margin-bottom: 10px;
}

.privacy-item p {
  color: #7c7c7c;
  line-height: 1.6;
}


.card, .card2, .card3, .card4, .card5, .carousel {
  padding: 0px;
  margin-bottom: 0px;
  max-width: 800px;
  
}

.margen {
  margin: 20px; /* Ajusta el margen según sea necesario */
  padding: 15px; /* Ajusta el padding según sea necesario */
 
}



/* Responsive adjustments */
@media (max-width: 900px) {

  .App-logo {
      max-width: 300px;
  }

  
  button[type="submit"] {
    background-color: #f88213;
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 16px;
    max-width: 180px;
    width: 100%;
    margin: 20px; /* Añade espacio superior */
    letter-spacing: 1px; /* Ajusta la distancia entre letras */
  }

  .selector .react-select__control {
      max-width: 100%;
  }

  .card, .card2, .card3, .card4, .card5 {
      padding: 15px;
  }

  .carousel .slide img {
      max-height: 200px;
  }

  form {
      margin: 0px;
      margin-bottom: 10px;
      
  }

   

}

@media (max-width: 700px) {
  .App-logo {
      max-width: 250px;
  }

  .card, .card2, .card3, .card4, .card5, .carousel {
      padding: 10px;
      max-width: 350px;
  }

  .carousel .slide img {
      max-height: 150px;
      max-width: 280px;
  }

  form {
      margin: 0px;
      margin-bottom: 10px;
  }

  button[type="submit"] {
      padding: 10px 20px;
      font-size: 14px;
  }

  button[type="submit"] {
    background-color: #f88213;
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 16px;
    max-width: 180px;
    width: 100%;
    margin: 20px; /* Añade espacio superior */
    letter-spacing: 1px; /* Ajusta la distancia entre letras */
  }

  .selector .react-select__control {
      margin-top: 10px;
      padding: 5px;
      max-width: 300px;
  }
}

@media (max-width: 480px) {
  .App-logo {
    max-width: 310px;
}

.card, .card2, .card3, .card4, .card5, .carousel {
    
    max-width: 310px;
}

.carousel .slide img {
    max-height: 150px;
    max-width: 280px;
}

form {
    margin: 0px;
    margin-bottom: 10px;
    max-width: 310px;
}

button[type="submit"] {
    padding: 10px 20px;
    font-size: 14px;
}

button[type="submit"] {
  background-color: #f88213;
  color: white;
  padding: 12px 24px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 16px;
  max-width: 180px;
  width: 100%;
  margin: 20px; /* Añade espacio superior */
  letter-spacing: 1px; /* Ajusta la distancia entre letras */
}

.selector .react-select__control {
    margin-top: 10px;
    
    max-width: 310px;
}
}

@media (max-width: 320px) {
  body {
      margin: 5px;
      min-height: calc(100vh - 20px);
      max-width: 250px;
  }

  form {
      padding: 5px;
      margin: 0px;
      max-width: 250px;
      margin-bottom: 10px;
  }

  .card, .card2, .card3, .card4, .card5, .carousel {
      padding: 5px;
      margin-bottom: 10px;
      max-width: 250px;
      
  }

  h2, h3, h4, h5, h6 {
      font-size: 90%;
      margin-bottom: 5px;
  }

  p {
      font-size: 90%;
  }

  button[type="submit"] {
      padding: 8px 16px;
      font-size: 14px;
  }

  .selector .react-select__control {
      margin-top: 5px;
      padding: 5px;
      max-width: 200px;
  }

  .carousel .slide img {
      max-height: 120px;
      max-width: 250px;
  }
}